__pycache__/
datadir/
.vscode/
BreakageClassifier/code/*.csv
BreakageClassifier/code/test_dom.py
BreakageClassifier/code/classification/classify.py
BreakageClassifier/code/features/*.csv
BreakageClassifier/code/features/dom_test.py
core
BreakageClassifier/code/classification/result*
BreakageClassifier/code/crawl/datadir-*
BreakageClassifier/code/out-*
WebModelGen/.idea
WebModelGen/classify-out
WebModelGen/dataset-*
WebModelGen/results
**/crawl-data.sqlite
WebModelGen/drivers
WebModelGen/firefox-bin
**\js_resp.json
*.log
**/.env
Experiments/forums-out/*/filterlists
Experiments/forums-out/easylist/*
Experiments/forums-out/ublock/*
*.csv
filterlists/**
*.png
**/filterlists/**/*.txt

!**/issues.csv
datadir*
classify-out
Experiments/features-out
**/filterlists*/**/*.txt
**/filterlists*/**/*.txt.meta
**/crawl-out
**/debug-*
**/*.xpi
Saliency/models
**/*.pdf